<div class="loginWrapper">
    <%= @error_message %>
    <%= form_tag("/login") do %>
          <div class="loginTitle">Login</div>
          <div>
            <input class="loginInput" name="email" placeholder="email" value="<%= @email %>">
          </div>
          <div>
            <input class="loginInput" name="password" placeholder="password" value="<%= @password %>">
          </div>
          <div>
            <input type="submit" value="Login" class="loginButton">
          </div>
    <% end %>
</div>